DATABASE_URL=postgresql://username:password@localhost:5432/rmhstudios

DISCORD_CLIENT_ID=abcd
DISCORD_CLIENT_SECRET=abcd

BETTER_AUTH_SECRET=`openssl rand -hex 32`
BETTER_AUTH_URL=http://localhost:7005/

NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:7005/
NEXT_PUBLIC_SOCKET_URL=http://localhost:7001/
NEXT_PUBLIC_RMHBOX_SOCKET_URL=http://localhost:7676/
NEXT_PUBLIC_RMHTUBE_SOCKET_URL=http://localhost:7003/

TOKEN_ENCRYPTION_KEY=`openssl rand -hex 32`
WEATHER_WEBHOOK_SECRET=`openssl rand -hex 32`
WEBHOOK_SECRET=`openssl rand -hex 32`
SOCKET_CORS_ORIGIN=http://localhost:7005/

SPOTIFY_CLIENT_ID=abcd
SPOTIFY_CLIENT_SECRET=abcd

GOOGLE_CLIENT_ID=abcd
GOOGLE_CLIENT_SECRET=abcd
